extends layout

block content
  .page-header
    h3 Listings

    style.
       body{
               background: url("http://holographer.org/theme/holographer.org/assets/img/slideshow/slide2.jpg") no-repeat center center fixed;
               background-size: cover;

       }


    style.
        table, th, td {
        border-collapse: collapse;
        border-bottom-color: rgb(211, 202, 221);
        border-top-color: rgb(211, 202, 221);
        }
        table {
            margin: auto;
            border-spacing: 0;
        }
        th, td {
        padding: 5px 10px;

        font-size: 12px;
        font-family: Verdana;
        color: rgb(95, 74, 121);
        border-top-width: 1px;
        border-top-style: solid;
        }
        tr:nth-child(even) {
        background: rgb(223, 216, 232)
        }
        tr:nth-child(odd) {
        background: #FFF
        }
        .container{
        width:1000px;
        margin:0 auto;
        }

        .tab{
        margin:0 auto;
        max-width: 100%;

        }
  .container


    .tab

      table

        tr

            th Photo
            th Title
            th Address
            th Number of Tenants
            th Price
            th Posting Date
            th Link to Posting
        for posting in postings
            tr
                td
                    img(src='' + posting.adress.picture + '', alt="photo", style="width:120px;height:100px;")
                td= posting.title
                td= posting.adress.address + "   " + posting.adress.city + " " + posting.adress.zip
                td= posting.numPeople
                td= posting.price
                td= posting.postingDate
                td
                    a(href='/post/' + posting._id) DETAILS