extends layout

block content
  .page-header
    h3 Listings

    style.
        table{
            border-collapse: collapse;
        }
        table, tr, td
        {
            border: 1px solid black;
            padding: 10px;
        }

  table
    tr
        td Title
        td Address
        td Number of Tenants
        td Price
        td Posting Date
        td Link to Posting
    for posting in postings
        tr
            td= posting.title
            td= posting.adress.address + "   " + posting.adress.city + " " + posting.adress.zip 
            td= posting.numPeople
            td= posting.price
            td= posting.postingDate
            td
                a(href='/post/' + posting._id) DETAILS
