extends layout

block content
  .page-header
    h3 Search for Roommate
    style.
          table, th, td {
          border-collapse: collapse;
          border-bottom-color: rgb(211, 202, 221);
          border-top-color: rgb(211, 202, 221);
          }
          table {
              margin: auto;
              border-spacing: 0;
          }
          th, td {
          padding: 5px 10px;

          font-size: 12px;
          font-family: Verdana;
          color: rgb(95, 74, 121);
          border-top-width: 1px;
          border-top-style: solid;
          }
          tr:nth-child(even) {
          background: rgb(223, 216, 232)
          }
          tr:nth-child(odd) {
          background: #FFF
          }
          .container{
          width:1000px;
          margin:0 auto;
          }

          .tab{
          margin:0 auto;
          max-width: 100%;

          }
    style.
       body{
               background: url("http://i.imgur.com/Rl6gTDP.jpg") no-repeat center center fixed;
               background-size: cover;

           }

        table{
            border-collapse: collapse;
            background-color: #ffffff;
        }
        table, tr, td
        {
            border: 1px;
            padding: 10px;
        }
        input.cornersBox{


                                              border-radius: 20px;



                          }



  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='city') City
      .col-sm-8
        input.form-control.cornersBox(type='text', name='city', id='city', autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='zip') Zip Code
      .col-sm-8
        input.form-control.cornersBox(type='text', name='zip', id='zip')
    .form-group
      label(class='col-sm-2 control-label', for='price') Price Cap
      .col-sm-8
        input.form-control.cornersBox(type='text', name='price', id='price')
    .form-group
      label(class='col-sm-2 control-label', for='people') Maximum Tenants
      .col-sm-8
        input.form-control.cornersBox(type='text', name='people', id='people')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          | Search

  .tab
    table
        tr
            th Title
            th Address
            th Number of Tenants
            th Price
            th Posting Date
            th Contact
            th Link to Posting
        for posting in postings
            tr
                td= posting.title
                td= posting.adress.address + "   " + posting.adress.city + " " + posting.adress.zip 
                td= posting.numPeople
                td= posting.price
                td= posting.postingDate
                td= posting.email
                td
                    a(href='/post/' + posting._id) DETAILS